In [50]:
import pandas as pd
f500 = pd.read_csv('fortune_500.csv',index_col=1)
f500.index.name = None

In [19]:
f500.shape

(500, 22)

In [23]:
f500.head(3)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0

In [24]:
f500.head(3)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0

In [25]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        500 non-null    object
 1   Website      500 non-null    object
 2   Employees    500 non-null    int64
 3   Sector       500 non-null    object
 4   Industry     500 non-null    object
 5   Hqlocation   500 non-null    object
 6   Hqaddr       500 non-null    object
 7   Hqcity       500 non-null    object
 8   Hqstate      500 non-null    object
 9   Hqzip        500 non-null    int64
 10  Hqtel        500 non-null    object
 11  Ceo          500 non-null    object
 12  Ceo-title    500 non-null    object
 13  Address      500 non-null    object
 14  Ticker       500 non-null    object
 15  Fullname     500 non-null    object
 16  Revenues     500 non-null    int64
 17  Revchange    500 non-null    float64
 18  Profits      500 non-null    float64
 19  Prftchange   500 non-null    object
 20  Assets       500 non-null    int64
 21  Totshequity  500 non-null    float64
dtypes: float64(3), int64(4), object(15)
memory usage: 89.8+ KB

In [35]:
industries = f500['Industry']

In [33]:
industries

1                         General Merchandisers
2      Insurance: Property and Casualty (Stock)
3                   Computers, Office Equipment
4                            Petroleum Refining
5                      Wholesalers: Health Care
                         ...
496                  Specialty Retailers: Other
497                                Homebuilders
498             Internet Services and Retailing
499                                      Energy
500            Diversified Outsourcing Services
Name: Industry, Length: 500, dtype: object

In [44]:
title_col = f500.loc[:, 'Title']

In [45]:
title_col

1                 Walmart
2      Berkshire Hathaway
3                   Apple
4             Exxon Mobil
5                McKesson
              ...
496         Michaels Cos.
497         Toll Brothers
498                 Yahoo
499         Vistra Energy
500        ABM Industries
Name: Title, Length: 500, dtype: object

In [46]:
ceo_to_fullname = f500.loc[:,'Ceo':'Fullname']

In [47]:
ceo_to_fullname

,Ceo,Ceo-title,Address,Ticker,Fullname
1,C. Douglas McMillon,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc."
2,Warren E. Buffett,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.
3,Timothy D. Cook,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc."
4,Darren W. Woods,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation
5,John H. Hammergren,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation
...,...,...,...,...,...
496,Carl S. Rubin,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc."
497,Douglas C. Yearley Jr.,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc."
498,Marissa A. Mayer,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.
499,Curtis A. Morgan,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.
500,Scott B. Salmirs,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated

In [57]:
interested_companies = f500.loc[["Coca-Cola", "Yahoo"]]

In [58]:
interested_companies

,Rank,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Coca-Cola,64,http://www.coca-colacompany.com,100300,"Food, Beverages & Tobacco",Beverages,"Atlanta, GA",1 Coca-Cola Plaza,Atlanta,GA,30313,...,"President, Chief Executive Officer & Director","1 Coca-Cola Plaza, Atlanta, GA 30313",KO,The Coca-Cola Company,41863,-5.5,6527.0,-11.2,87270,23062.0
Yahoo,498,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0

Count the most common industries

In [60]:
indystry_counts = industries.value_counts()

In [61]:
indystry_counts

Utilities: Gas and Electric                 22
Specialty Retailers: Other                  21
Insurance: Property and Casualty (Stock)    20
Commercial Banks                            19
Chemicals                                   14
                                            ..
Trucking, Truck Leasing                      2
Waste Management                             2
Forest and Paper Products                    1
Transportation Equipment                     1
Toys, Sporting Goods                         1
Name: Industry, Length: 73, dtype: int64

Calculate max previous year revenue

In [70]:
previous_revenue =  f500["Revenues"] + f500["Revchange"]
previous_revenue_max = previous_revenue.max()

In [67]:
previous_revenue_max

485873.8

In [68]:
print(previous_revenue.describe())

count       500.000000
mean      24115.506000
std       38337.119694
min        5142.200000
25%        7221.625000
50%       11379.000000
75%       22612.775000
max      485873.800000
dtype: float64

In [71]:
f500.max(numeric_only=True)

Rank               500.0
Employees      2300000.0
Hqzip            98188.0
Revenues        485873.0
Revchange          197.3
Profits          45687.0
Assets         3287968.0
Totshequity     283001.0
dtype: float64

Find two mthe ost common values in the industry column for companies in Dublin.

In [76]:
industry_dublin = f500.loc[f500['Hqcity'] == 'Dublin',"Industry"].value_counts().head(2)

In [77]:
industry_dublin

Specialty Retailers: Apparel    1
Wholesalers: Health Care        1
Name: Industry, dtype: int64