In [1]:
import pandas as pd

train_path = '/home/sk/Downloads/insurance_claim/train.csv'
test_path = '/home/sk/Downloads/insurance_claim/test.csv'

train_data = pd.read_csv(train_path) 
test_data = pd.read_csv(test_path)

In [2]:
train_data.columns

Index(['id', 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5',
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'target'],
      dtype='object')

In [3]:
train_data.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,B,B,B,C,B,B,A,E,C,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
1,2,B,B,A,A,B,D,A,F,A,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233
2,3,A,A,A,C,B,D,A,D,A,...,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351
3,4,B,B,A,C,B,D,A,E,C,...,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253
4,6,A,A,A,C,B,D,A,E,A,...,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260

In [4]:
# All categorical columns
object_cols = [col for col in train_data.columns if train_data[col].dtype == "object"]

In [5]:
object_cols

['cat0',
 'cat1',
 'cat2',
 'cat3',
 'cat4',
 'cat5',
 'cat6',
 'cat7',
 'cat8',
 'cat9']

In [7]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()

train_data[object_cols] = ordinal_encoder.fit_transform(train_data[object_cols])

test_data[object_cols] = ordinal_encoder.transform(test_data[object_cols])

In [8]:
test_data

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,4.0,4.0,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,5,0.0,1.0,0.0,2.0,1.0,2.0,0.0,4.0,2.0,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,15,1.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,3.0,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,16,1.0,1.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,17,1.0,1.0,0.0,2.0,1.0,2.0,0.0,4.0,2.0,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,1.0,0.0,0.0,2.0,1.0,3.0,0.0,4.0,4.0,...,0.287454,0.543800,0.682378,1.028978,1.022741,0.683903,0.877273,0.532410,0.605397,0.884581
199996,499990,1.0,0.0,0.0,2.0,1.0,1.0,0.0,4.0,2.0,...,0.794881,0.432778,0.389775,0.359871,0.550013,0.492082,0.202295,0.416875,0.406205,0.758665
199997,499991,0.0,1.0,1.0,2.0,1.0,1.0,0.0,4.0,2.0,...,0.514487,0.060997,0.171741,0.317185,0.150340,0.122109,0.390524,0.334026,0.378987,0.839416
199998,499994,0.0,0.0,0.0,2.0,1.0,3.0,0.0,3.0,0.0,...,0.286144,1.061710,0.819811,0.901241,0.555339,0.844315,0.894193,0.794102,0.844279,0.890473
199999,499995,0.0,0.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,...,0.286755,1.065725,0.687682,0.654738,0.574575,0.617467,0.694336,0.745698,0.568525,0.783568

In [9]:
features = train_data.columns.tolist()[1:-1]

In [10]:
features

['cat0',
 'cat1',
 'cat2',
 'cat3',
 'cat4',
 'cat5',
 'cat6',
 'cat7',
 'cat8',
 'cat9',
 'cont0',
 'cont1',
 'cont2',
 'cont3',
 'cont4',
 'cont5',
 'cont6',
 'cont7',
 'cont8',
 'cont9',
 'cont10',
 'cont11',
 'cont12',
 'cont13']

In [11]:
y = train_data.target
X = train_data[features]

In [12]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

In [13]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2)

In [14]:
model.fit(train_X, train_y)

SyntaxError: invalid syntax (<ipython-input-14-ade8340dfe90>, line 3)

In [48]:
from sklearn.metrics import mean_absolute_error

preds_val = model.predict(val_X)
mae = mean_absolute_error(val_y, preds_val)
mae

0.5852212063784729

In [50]:
model.fit(X, y)

RandomForestRegressor()

In [51]:
test_X = test_data[features]

final_predict_ap03 = model.predict(test_X)

In [52]:
output_ap03 = pd.DataFrame({'id': test_data.id, 'target': final_predict_ap03})
output_ap03.to_csv('/home/sk/Downloads/insurance_claim/my_submission_ap03.csv', index=False)

In [53]:
output_ap03

            id    target
0            0  7.968723
1            5  8.333543
2           15  8.374692
3           16  8.281819
4           17  8.227797
...        ...       ...
199995  499987  8.123196
199996  499990  8.234648
199997  499991  8.295737
199998  499994  8.087683
199999  499995  8.165139

[200000 rows x 2 columns]