In [4]:
import pandas as pd

train_path = '/home/sk/Downloads/insurance_claim/train.csv'
test_path = '/home/sk/Downloads/insurance_claim/test.csv'

train_data = pd.read_csv(train_path) 
test_data = pd.read_csv(test_path)

In [5]:
train_data.columns

Index(['id', 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5',
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'target'],
      dtype='object')

In [6]:
features = train_data.columns.tolist()[1:-1]

In [7]:
features

['cat0',
 'cat1',
 'cat2',
 'cat3',
 'cat4',
 'cat5',
 'cat6',
 'cat7',
 'cat8',
 'cat9',
 'cont0',
 'cont1',
 'cont2',
 'cont3',
 'cont4',
 'cont5',
 'cont6',
 'cont7',
 'cont8',
 'cont9',
 'cont10',
 'cont11',
 'cont12',
 'cont13']

In [8]:
train_data[features].head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,B,B,B,C,B,B,A,E,C,N,...,0.610706,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850
1,B,B,A,A,B,D,A,F,A,O,...,0.276853,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083
2,A,A,A,C,B,D,A,D,A,F,...,0.285074,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846
3,B,B,A,C,B,D,A,E,C,K,...,0.284667,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682
4,A,A,A,C,B,D,A,E,A,N,...,0.287595,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

def convert(data):
    number = LabelEncoder()
    for i in features:
        if not i.isdigit():
            le.fit(data[i].astype(str))
            data[i] = le.transform(data[i].astype(str))
    data = data.fillna(-999)
    return data

train_data = convert(train_data)
test_data = convert(test_data)

In [10]:
train_data.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,1,1,1,2,1,1,0,4,2,...,103440,13112,47407,124269,44203,62107,114766,93133,293019,8.113634
1,2,1,1,0,0,1,3,0,5,0,...,175395,218060,155840,216428,93128,286775,290317,49548,144317,8.481233
2,3,0,0,0,2,1,3,0,3,0,...,217899,104083,288898,191569,282515,252433,209854,169893,231581,8.364351
3,4,1,1,0,2,1,3,0,4,2,...,224580,29072,229975,239973,210675,112833,249815,169712,55498,8.049253
4,6,0,0,0,2,1,3,0,4,0,...,231012,141959,208075,240648,297313,296888,275696,192992,30052,7.972260

In [11]:
y = train_data.target
X = train_data[features]

In [12]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2)

In [57]:
from sklearn.ensemble import RandomForestRegressor

forest_model = RandomForestRegressor()

forest_model.fit(train_X, train_y)

RandomForestRegressor()

In [58]:
from sklearn.metrics import mean_absolute_error

preds_val = forest_model.predict(val_X)
mae = mean_absolute_error(val_y, preds_val)

In [59]:
mae

0.5823324709732621

In [20]:
forest_model.fit(X, y)

RandomForestRegressor()

In [21]:
text_X = test_data[features]

In [29]:
final_predict_ap02 = forest_model.predict(text_X)

In [30]:
output_ap02 = pd.DataFrame({'id': test_data.id, 'target': final_predict})
output_ap02.to_csv('/home/sk/Downloads/insurance_claim/my_submission_ap02.csv', index=False)

In [31]:
test_data

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,1,1,1,2,1,1,0,4,4,...,112614,58920,45120,38663,102102,41860,43801,6666,55793,184190
1,5,0,1,0,2,1,2,0,4,2,...,55953,183148,183088,168681,84252,40223,116055,192382,183850,144763
2,15,1,0,0,0,1,1,0,4,3,...,149880,153256,85009,183567,26118,97000,103351,78838,79431,112479
3,16,1,1,0,2,1,3,0,4,0,...,153516,174160,177308,137362,194848,78502,197774,90141,86316,94575
4,17,1,1,0,2,1,2,0,4,2,...,84485,89026,77252,77556,103008,77716,134090,79452,77201,199344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,1,0,0,2,1,3,0,4,4,...,71311,120152,170833,199104,194467,158222,188697,123862,123785,198615
199996,499990,1,0,0,2,1,1,0,4,2,...,168273,90136,76408,51525,126882,120455,32888,91778,93644,150119
199997,499991,0,1,1,2,1,1,0,4,2,...,122470,4091,10855,36610,6488,4348,86217,58581,80267,182565
199998,499994,0,0,0,2,1,3,0,3,0,...,59611,198756,185007,191704,128361,188866,190281,185222,182248,198847
199999,499995,0,0,0,2,1,3,0,4,0,...,63861,199411,171582,141730,137211,150498,151462,176261,116682,162575

In [32]:
output

            id    target
0            0  7.937411
1            5  8.160680
2           15  8.177290
3           16  8.101081
4           17  8.276906
...        ...       ...
199995  499987  8.444417
199996  499990  8.283441
199997  499991  8.200046
199998  499994  8.142996
199999  499995  8.367418

[200000 rows x 2 columns]

In [60]:
from numba import jit

# Function for calculating MAE that is denepdant on the bumber of forests
from sklearn.metrics import mean_absolute_error

def get_mae(estimators, train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(max_depth=estimators)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [62]:
# Try to calculate the best number of forests
d_estimators = dict()

for estimators in [1, 10, 20]:
    my_mae = get_mae(estimators, train_X, val_X, train_y, val_y)
    #print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(estimators, my_mae))
    d_estimators[my_mae] = estimators

print(min(d_estimators), 'estimator n is', d_estimators[min(d_estimators)])

KeyboardInterrupt: