In [55]:
import pandas as pd

train_path = '/home/sk/Downloads/insurance_claim/train.csv'
test_path = '/home/sk/Downloads/insurance_claim/test.csv'

train_data = pd.read_csv(train_path) 
test_data = pd.read_csv(test_path) 

dummies_train_data = pd.get_dummies(train_data)
dummies_test_data = pd.get_dummies(test_data)

In [56]:
dummies_train_data.head()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,...,cat9_F,cat9_G,cat9_H,cat9_I,cat9_J,cat9_K,cat9_L,cat9_M,cat9_N,cat9_O
0,1,0.201470,-0.014822,0.669699,0.136278,0.610706,0.400361,0.160266,0.310921,0.389470,...,0,0,0,0,0,0,0,0,1,0
1,2,0.743068,0.367411,1.021605,0.365798,0.276853,0.533087,0.558922,0.516294,0.594928,...,0,0,0,0,0,0,0,0,0,1
2,3,0.742708,0.310383,-0.012673,0.576957,0.285074,0.650609,0.375348,0.902567,0.555205,...,1,0,0,0,0,0,0,0,0,0
3,4,0.429551,0.620998,0.577942,0.280610,0.284667,0.668980,0.239061,0.732948,0.679618,...,0,0,0,0,0,1,0,0,0,0
4,6,1.058291,0.367492,-0.052389,0.232407,0.287595,0.686964,0.420667,0.648182,0.684501,...,0,0,0,0,0,0,0,0,1,0

In [58]:
features = dummies_train_data.columns.tolist()[1:]

In [59]:
features.remove('target')

In [60]:
features

['cont0',
 'cont1',
 'cont2',
 'cont3',
 'cont4',
 'cont5',
 'cont6',
 'cont7',
 'cont8',
 'cont9',
 'cont10',
 'cont11',
 'cont12',
 'cont13',
 'cat0_A',
 'cat0_B',
 'cat1_A',
 'cat1_B',
 'cat2_A',
 'cat2_B',
 'cat3_A',
 'cat3_B',
 'cat3_C',
 'cat3_D',
 'cat4_A',
 'cat4_B',
 'cat4_C',
 'cat4_D',
 'cat5_A',
 'cat5_B',
 'cat5_C',
 'cat5_D',
 'cat6_A',
 'cat6_B',
 'cat6_C',
 'cat6_D',
 'cat6_E',
 'cat6_G',
 'cat6_H',
 'cat6_I',
 'cat7_A',
 'cat7_B',
 'cat7_C',
 'cat7_D',
 'cat7_E',
 'cat7_F',
 'cat7_G',
 'cat7_I',
 'cat8_A',
 'cat8_B',
 'cat8_C',
 'cat8_D',
 'cat8_E',
 'cat8_F',
 'cat8_G',
 'cat9_A',
 'cat9_B',
 'cat9_C',
 'cat9_D',
 'cat9_E',
 'cat9_F',
 'cat9_G',
 'cat9_H',
 'cat9_I',
 'cat9_J',
 'cat9_K',
 'cat9_L',
 'cat9_M',
 'cat9_N',
 'cat9_O']

In [61]:
y = dummies_train_data.target
X = dummies_train_data[features]

In [62]:
X

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat9_F,cat9_G,cat9_H,cat9_I,cat9_J,cat9_K,cat9_L,cat9_M,cat9_N,cat9_O
0,0.201470,-0.014822,0.669699,0.136278,0.610706,0.400361,0.160266,0.310921,0.389470,0.267559,...,0,0,0,0,0,0,0,0,1,0
1,0.743068,0.367411,1.021605,0.365798,0.276853,0.533087,0.558922,0.516294,0.594928,0.341439,...,0,0,0,0,0,0,0,0,0,1
2,0.742708,0.310383,-0.012673,0.576957,0.285074,0.650609,0.375348,0.902567,0.555205,0.843531,...,1,0,0,0,0,0,0,0,0,0
3,0.429551,0.620998,0.577942,0.280610,0.284667,0.668980,0.239061,0.732948,0.679618,0.574844,...,0,0,0,0,0,1,0,0,0,0
4,1.058291,0.367492,-0.052389,0.232407,0.287595,0.686964,0.420667,0.648182,0.684501,0.956692,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0.697124,0.483452,0.297770,0.195821,0.307883,0.769792,0.450538,0.934360,1.005077,0.853726,...,0,0,0,1,0,0,0,0,0,0
299996,0.446200,0.715135,0.610931,0.601730,0.736713,0.528056,0.508502,0.358247,0.257825,0.433525,...,1,0,0,0,0,0,0,0,0,0
299997,0.544279,0.060937,0.590955,0.905308,0.277074,0.688747,0.372425,0.364936,0.383224,0.551825,...,1,0,0,0,0,0,0,0,0,0
299998,0.300062,0.613118,0.285213,0.406851,0.805963,0.344404,0.424243,0.382028,0.468819,0.351036,...,0,0,0,1,0,0,0,0,0,0
299999,0.857752,0.628528,0.539625,0.396143,0.276785,0.565347,0.328669,0.789165,0.960406,0.776019,...,0,0,0,0,0,0,0,0,0,1

In [63]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2)

In [65]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(train_X, train_y)

RandomForestRegressor()

In [66]:
predictions = model.predict(val_X)

In [67]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(val_y, predictions))

0.5864454960504369

In [68]:
model.fit(X, y)

RandomForestRegressor()

In [69]:
test_X = dummies_test_data[features]

test_predictions = model.predict(test_X)

In [70]:
output_ap01 = pd.DataFrame({'id': test_data.id, 'target': test_predictions})
output_ap01.to_csv('/home/sk/Downloads/insurance_claim/my_submission_ap01.csv', index=False)

In [71]:
test_data

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,B,B,B,C,B,B,A,E,E,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,5,A,B,A,C,B,C,A,E,C,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,15,B,A,A,A,B,B,A,E,D,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,16,B,B,A,C,B,D,A,E,A,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,17,B,B,A,C,B,C,A,E,C,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,B,A,A,C,B,D,A,E,E,...,0.287454,0.543800,0.682378,1.028978,1.022741,0.683903,0.877273,0.532410,0.605397,0.884581
199996,499990,B,A,A,C,B,B,A,E,C,...,0.794881,0.432778,0.389775,0.359871,0.550013,0.492082,0.202295,0.416875,0.406205,0.758665
199997,499991,A,B,B,C,B,B,A,E,C,...,0.514487,0.060997,0.171741,0.317185,0.150340,0.122109,0.390524,0.334026,0.378987,0.839416
199998,499994,A,A,A,C,B,D,A,D,A,...,0.286144,1.061710,0.819811,0.901241,0.555339,0.844315,0.894193,0.794102,0.844279,0.890473
199999,499995,A,A,A,C,B,D,A,E,A,...,0.286755,1.065725,0.687682,0.654738,0.574575,0.617467,0.694336,0.745698,0.568525,0.783568

In [72]:
output_ap01

            id    target
0            0  7.786198
1            5  8.338474
2           15  8.446012
3           16  8.362046
4           17  8.326381
...        ...       ...
199995  499987  8.390058
199996  499990  8.336733
199997  499991  8.301287
199998  499994  8.053855
199999  499995  8.046356

[200000 rows x 2 columns]